<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be Better</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/images/diet_running_woman.png" alt="">
            <p>Be Better</p>
        </div>
    </header>
    <div class="container">
        <h1>soooooo excited to become better me!!</h1>
        <a href="" class="btn routine">+ routine</a>
        <a href="" class="btn done">+ done</a>
        <table>
            <tr>
                <th class="content">content</th>
                <th class="routine">routine</th>
                <th class="done">done</th>
                <th></th>
            </tr>
            <tr>
                <td>体重計に乗る</td>
                <td>1</td>
                <td >0</td>
                <td><a href=""><i class="fas fa-trash"></i></a></td>
            </tr>
        </table>
        <a href="" class="btn record">record</a><br>
        <form action="" method="POST">
            <input type="submit" value="clear" class="btn clear">
        </form>
    </div>
</body>
</html>